# History files
.Rhistory

# Example code in package build process
*-Ex.R
vignettes/DiffExpressVignette-004.pdf
vignettes/DiffExpressVignette-009.pdf
vignettes/DiffExpressVignette-014.pdf
vignettes/DiffExpressVignette-concordance.tex
vignettes/DiffExpressVignette.aux
vignettes/DiffExpressVignette.log
vignettes/DiffExpressVignette.pdf
vignettes/DiffExpressVignette.tex
vignettes/fits.txt
